<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Davidson's Cv</title>
    <style>
        .cv{
            background-color: rgba(255, 255, 255, 0.15);
            border: none;
            color: #fff;
        }
    </style>
</head>
<body>
    {% for cv in cv %}
    <div class="cv_div">
        <a href="{{ cv.cv_field.url }}" target="_blank">D<button class="cv">View Cv</button></a>
        <a href="{{cv.cv_field.url}}" download="Davidson's Cv"><button class="cv">Download Cv</button></a>
    </div>
    {% endfor %}
</body>
</html>